In [66]:
from openpyxl import load_workbook
import pandas as pd

# Load the Excel workbook
book = load_workbook('data/Xi 2023-24 02_September.xlsx', data_only=False)

# Get the required sheet
sheet = book.active

In [72]:
import re
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

# Create a data frame from the rows in the sheet containing actually meaningful values
data = [row for row in sheet.values]
col_names = data[5]
data_rows = data[6:]

df = pd.DataFrame(data_rows, columns=col_names)
df = df.drop(columns=['foot'])
df = df.drop(df.index[0])


date_pattern = re.compile(r'^\d{4}-\d{2}-\d{2}.*')
first_invalid_date_index = df['Date'].apply(lambda x: pd.isnull(x) or not date_pattern.match(str(x))).idxmax()
print(first_invalid_date_index)
print(df.columns)
df = df.loc[:, ~df.columns.duplicated()]
df = df.dropna(axis=1, how='all')


df.rename(columns={df.columns[1]: 'USD'}, inplace=True)


df = df.iloc[:first_invalid_date_index - 1]
df.head(2)

166
Index([       'Date',          None,    'Category',        'rcpt',
       'Description',          None,        'data', 'electricity',
               'gas',      'vonage',       'waste',       'water',
              'food',    'sum food',       'acctg',         'TEP',
              'AILG',         'IFC',        'exec',         '???',
          'licenses',       'house',        'hvac',    'cleaning',
              'rush',      'social',       'large',        'rent',
                None,          None,          None,          None,
                None,          None,          None],
      dtype='object')

,Date,USD,Category,rcpt,Description,USD,data,electricity,gas,vonage,waste,water,food,sum food,acctg,TEP,AILG,IFC,exec,???,licenses,house,hvac,cleaning,rush,social,large,rent,USD,USD,USD,USD,USD,USD,USD
1,2023-07-03 00:00:00,-65.28,sum food,None,STAR MARKET 0602 06/29 PURCHASE BOSTON MA DEBI...,None,"=IF(H$6=$D8,$B8,0)","=IF(I$6=$D8,$B8,0)","=IF(J$6=$D8,$B8,0)","=IF(K$6=$D8,$B8,0)","=IF(L$6=$D8,$B8,0)","=IF(M$6=$D8,$B8,0)","=IF(N$6=$D8,$B8,0)","=IF(O$6=$D8,$B8,0)","=IF(P$6=$D8,$B8,0)","=IF(Q$6=$D8,$B8,0)","=IF(R$6=$D8,$B8,0)","=IF(S$6=$D8,$B8,0)","=IF(T$6=$D8,$B8,0)","=IF(U$6=$D8,$B8,0)","=IF(V$6=$D8,$B8,0)","=IF(W$6=$D8,$B8,0)","=IF(X$6=$D8,$B8,0)","=IF(Y$6=$D8,$B8,0)","=IF(Z$6=$D8,$B8,0)","=IF(AA$6=$D8,$B8,0)","=IF(AB$6=$D8,$B8,0)","=IF(AC$6=$D8,$B8,0)",None,None,None,None,None,None,None
2,2023-07-03 00:00:00,-565.64,sum food,None,BJS.COM #5490 07/01 PURCHASE 800-257-2582 MA D...,None,"=IF(H$6=$D9,$B9,0)","=IF(I$6=$D9,$B9,0)","=IF(J$6=$D9,$B9,0)","=IF(K$6=$D9,$B9,0)","=IF(L$6=$D9,$B9,0)","=IF(M$6=$D9,$B9,0)","=IF(N$6=$D9,$B9,0)","=IF(O$6=$D9,$B9,0)","=IF(P$6=$D9,$B9,0)","=IF(Q$6=$D9,$B9,0)","=IF(R$6=$D9,$B9,0)","=IF(S$6=$D9,$B9,0)","=IF(T$6=$D9,$B9,0)","=IF(U$6=$D9,$B9,0)","=IF(V$6=$D9,$B9,0)","=IF(W$6=$D9,$B9,0)","=IF(X$6=$D9,$B9,0)","=IF(Y$6=$D9,$B9,0)","=IF(Z$6=$D9,$B9,0)","=IF(AA$6=$D9,$B9,0)","=IF(AB$6=$D9,$B9,0)","=IF(AC$6=$D9,$B9,0)",None,None,None,None,None,None,None

,Date,USD,Category,rcpt,Description,USD,data,electricity,gas,vonage,waste,water,food,sum food,acctg,TEP,AILG,IFC,exec,???,licenses,house,hvac,cleaning,rush,social,large,rent,USD,USD,USD,USD,USD,USD,USD
1,2023-07-03 00:00:00,-65.28,sum food,None,STAR MARKET 0602 06/29 PURCHASE BOSTON MA DEBI...,None,"=IF(H$6=$D8,$B8,0)","=IF(I$6=$D8,$B8,0)","=IF(J$6=$D8,$B8,0)","=IF(K$6=$D8,$B8,0)","=IF(L$6=$D8,$B8,0)","=IF(M$6=$D8,$B8,0)","=IF(N$6=$D8,$B8,0)","=IF(O$6=$D8,$B8,0)","=IF(P$6=$D8,$B8,0)","=IF(Q$6=$D8,$B8,0)","=IF(R$6=$D8,$B8,0)","=IF(S$6=$D8,$B8,0)","=IF(T$6=$D8,$B8,0)","=IF(U$6=$D8,$B8,0)","=IF(V$6=$D8,$B8,0)","=IF(W$6=$D8,$B8,0)","=IF(X$6=$D8,$B8,0)","=IF(Y$6=$D8,$B8,0)","=IF(Z$6=$D8,$B8,0)","=IF(AA$6=$D8,$B8,0)","=IF(AB$6=$D8,$B8,0)","=IF(AC$6=$D8,$B8,0)",None,None,None,None,None,None,None
2,2023-07-03 00:00:00,-565.64,sum food,None,BJS.COM #5490 07/01 PURCHASE 800-257-2582 MA D...,None,"=IF(H$6=$D9,$B9,0)","=IF(I$6=$D9,$B9,0)","=IF(J$6=$D9,$B9,0)","=IF(K$6=$D9,$B9,0)","=IF(L$6=$D9,$B9,0)","=IF(M$6=$D9,$B9,0)","=IF(N$6=$D9,$B9,0)","=IF(O$6=$D9,$B9,0)","=IF(P$6=$D9,$B9,0)","=IF(Q$6=$D9,$B9,0)","=IF(R$6=$D9,$B9,0)","=IF(S$6=$D9,$B9,0)","=IF(T$6=$D9,$B9,0)","=IF(U$6=$D9,$B9,0)","=IF(V$6=$D9,$B9,0)","=IF(W$6=$D9,$B9,0)","=IF(X$6=$D9,$B9,0)","=IF(Y$6=$D9,$B9,0)","=IF(Z$6=$D9,$B9,0)","=IF(AA$6=$D9,$B9,0)","=IF(AB$6=$D9,$B9,0)","=IF(AC$6=$D9,$B9,0)",None,None,None,None,None,None,None

In [ ]:
df['USD'] = df['USD'].astype(float)

df_credit = df[df['USD'] <= 0]
df_debit = df[df['USD'] > 0]

ValueError: could not convert string to float: 'sum food'